.swade.sheet.actor.character {
  min-height: 768px;
  min-width: 600px;
  .profile-img-container {
    width: 200px;
    max-width: 200px;
    height: 200px;
    margin: 2px;
  }

  .vitals {
    height: 72px;
    .bennies {
      flex-grow: 0;
      flex-basis: 100px;
      padding: 0 10px;
      i {
        padding-top: 24px;
      }
      .benny-tracker {
        input {
          @extend %standalone-input-field;
          text-align: center;
          border-radius: 0;
        }
        .bennies-current {
          font-size: 26px;
          height: 35px;
          border-bottom: $decorative-line;
        }
        .bennies-max {
          height: 20px;
        }
      }
    }

    .vitals-container {
      padding: 3px;
      .vitals-value {
        padding: 0 10px;
      }

      .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        height: 16px;
        width: 100%;
        outline: none; /* Remove outline */
        opacity: 0.7;
        margin-bottom: 5px;
        cursor: pointer;

        &::-webkit-slider-thumb {
          position: relative;
          height: 20px;
          width: 20px;
          margin-top: -5px;
          background: $anthracite;
          border-radius: 50%;
          border: 2px solid darkgrey;
        }

        &::-webkit-slider-runnable-track {
          border: none;
          box-shadow: none;
          height: 10px;
        }

        &::-moz-range-thumb {
          position: relative;
          height: 20px;
          width: 20px;
          margin-top: -5px;
          background: $anthracite;
          border-radius: 50%;
          border: 2px solid darkgrey;
        }
      }

      .fatigue-slider {
        &::-webkit-slider-runnable-track {
          background: steelblue;
        }
      }

      .wound-slider {
        direction: rtl;
        &::-webkit-slider-runnable-track {
          background: #ff5349;
        }
      }
    }
  }

  // Summary
  .attributes-container {
    .attributes {
      margin: 5px 0;
    }
    .secondary {
      flex-grow: 0;
      flex-basis: 250px;
    }
  }

  .skills {
    flex-basis: 250px;
    flex-grow: 0;
    max-width: 288px;
    .skills-list {
      height: 350px;
      overflow: auto;
      .skill:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .skill-label {
        flex: 2;
        overflow: hidden;
        i {
          display: none;
        }
        &:hover {
          i {
            display: inline-block;
          }
        }
      }
      .skill-value {
        flex: 1;
      }
      .skill-attribute {
        flex-grow: 0;
        flex-basis: 25px;
      }
      li {
        > * {
          margin: 0 3px;
          min-height: 28px;
          line-height: 28px;
        }
        a.attribute-control {
          border: none;
        }
      }
    }
  }

  .quickaccess-list {
    height: 350px;
  }

  .gear {
    padding: 2px;
    .gear-list {
      .gear-card {
        margin: 2px;
        border-top-left-radius: 4px;
        .card-header .item-controls {
          display: none;
        }
      }
    }
  }

  // Edges
  .edges {
    .edges-hindrances-list {
      margin: 5px 0 0;
      padding: 2px;
      .hindrances {
        height: 120px;
      }
      .items-list {
        overflow: auto;
        list-style: none;
        margin: 0 0 7px;
        padding: 0;
        .item {
          height: 30px;
          line-height: 24px;
          padding: 3px 0;
          img {
            flex: 0 0 24px;
            margin-right: 5px;
            border: none;
          }
          &:nth-child(even) {
            background: rgba(0, 0, 0, 0.1);
          }
        }
        .item-name {
          margin: 0;
        }
        .item-controls {
          flex: 0 0 36px;
        }
      }
    }

    .description {
      margin: 5px 0;
      padding: 2px;
      .description-value {
        overflow: auto;
        padding: 5px;
        margin: 0;
      }
    }
  }
  // Inventory
  .inventory {
    margin: 3px 0;
    .inventory-info {
      line-height: 30px;
    }
    .currency {
      display: inline;
      vertical-align: top;
      input {
        width: auto;
      }
    }
    .inventory-categories {
      overflow: auto;
      height: 520px;
      .items-section {
        .header-field {
          margin: 0;
        }
      }
      .item-titles {
        text-align: center;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        margin-top: 1px;
        padding-top: 2px;
        .item-name {
          text-align: left;
          text-indent: 8px;
        }
        font-weight: 300;
        font-size: 12px;
        background: #2c4251;
        color: white;
      }
      .item-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          padding: 0 2px;
        }
        .item-header {
          @extend %header-field;
          padding: 0px;
          margin-bottom: 0px;
        }
        .item {
          line-height: 30px;
          height: 30px;
          overflow: hidden;
          &:nth-child(even) {
            background: rgba(0, 0, 0, 0.1);
          }
        }
        .item-equipped {
          grid-area: item-equipped;
          justify-self: center;
        }
        .item-name {
          text-indent: 8px;
          text-align: left;
          overflow: hidden;
          height: 30px;
          margin: 0;
          line-height: 30px;
          .item-image {
            flex-basis: 30px;
            margin: 2px;
            flex-grow: 0;
            background-size: contain;
            background-repeat: no-repeat;
          }
          h4 {
            margin: 0;
          }
        }
      }
      .field-longer {
        text-indent: 8px;
        text-align: left;
        flex-basis: 120px;
        flex-grow: 0;
      }
      .field-long {
        flex-basis: 65px;
        flex-grow: 0;
        text-align: center;
      }
      .field-short {
        flex-basis: 45px;
        flex-grow: 0;
        text-align: center;
      }
      .item-controls {
        flex-basis: 60px;
        flex-grow: 0;
        text-align: right;
        margin-right: 4px;
        .item-unequipped {
          color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .powers {
    margin: 3px 0;
    .header-field-add {
      line-height: 24px;
      margin-left: 5px;
    }
    .arcane-tabs {
      display: flex;
      .arcane {
        cursor: pointer;
        width: 90px;
        height: 24px;
        text-align: center;
        line-height: 22px;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.2);
        &.active {
          background: rgba(0, 0, 0, 0.2);
        }
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
    .power-counter {
      display: none;
      input {
        width: 40px;
        color: white;
        font-weight: bold;
      }
      &.active {
        display: block;
      }
    }
    .powers-list {
      display: flex;
      flex-direction: row;
      align-content: start;
      flex-wrap: wrap;
      overflow: auto;
      .power {
        display: none;
        margin: 2px;
        flex-grow: 0;
        flex-basis: calc(50% - 4px);
        height: calc(50% - 4px);
        border: $decorative-line;
        border-top-left-radius: 4px;
        border-radius: 2px;
        &.active {
          display: block;
        }
        .power-header {
          background: rgba(0, 0, 0, 0.05);
          border-bottom: $decorative-line;
          h4 {
            margin: 0;
            padding: 5px;
            white-space: nowrap;
            overflow: hidden;
          }
          .item-image {
            flex-grow: 0;
            flex-basis: 25px;
            background-size: contain;
          }
          .item-controls {
            padding: 5px;
            flex-grow: 0;
            flex-basis: 45px;
            color: black;
            .item-unequipped {
              color: rgba(0, 0, 0, 0.2);
            }
          }
        }
        .power-content {
          margin: 0 3px;
          line-height: 24px;
          padding: 5px;
          height: calc(100% - 30px);
          overflow-y: auto;
          .power-details {
            font-size: 12px;
            line-height: 12px;
            font-weight: 600;
            text-indent: 5px;
          }
          .power-description {
            line-height: 15px;
          }
        }
      }
    }
  }
}
