<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header.html"}}
  <main class="sheet-body flexrow">
    <section class="item-stats">
      <header class="header-field">
        <span>{{localize "SWADE.Details"}}</span>
      </header>
      <div class="form-group">
        <input
          type="checkbox"
          name="data.equipped"
          id="data.equipped"
          {{checked
          item.data.equipped}}
          data-dtype="Boolean"
        />
        <label for="data.equipped">{{localize "SWADE.Equipped"}}</label>
      </div>
      <div class="form-group">
        <label for="data.armor">{{localize "SWADE.Armor"}}</label>
        <input
          name="data.armor"
          type="text"
          value="{{item.data.armor}}"
          placeholder="{{localize 'SWADE.Armor'}}"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label for="data.price">{{localize "SWADE.Price"}}</label>
        <input
          name="data.price"
          type="text"
          value="{{item.data.price}}"
          placeholder="{{localize 'SWADE.Price'}}"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label for="data.weight">{{localize "SWADE.Weight"}}</label>
        <input
          name="data.weight"
          type="text"
          value="{{item.data.weight}}"
          placeholder="{{localize 'SWADE.Weight'}}"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label for="data.quantity">{{localize "SWADE.Quantity"}}</label>
        <input
          name="data.quantity"
          type="text"
          value="{{item.data.quantity}}"
          placeholder="{{localize 'SWADE.Quantity'}}"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label for="data.minStr">{{localize "SWADE.MinStrShort"}}</label>
        <input
          name="data.minStr"
          type="text"
          value="{{item.data.minStr}}"
          placeholder="{{localize 'SWADE.MinStr'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.notes">{{localize "SWADE.Notes"}}</label>
        <input
          type="text"
          name="data.notes"
          value="{{item.data.notes}}"
          placeholder="{{localize 'SWADE.Notes'}}"
          data-dtype="String"
        />
      </div>
      <header class="header-field">
        {{localize "SWADE.HitLocations"}}
      </header>
      <div>
        <div class="flexrow">
          <div class="form-group">
            <input
              type="checkbox"
              name="data.locations.head"
              id="data.locations.head"
              {{checked
              item.data.locations.head}}
              data-dtype="Boolean"
            />
            <label for="data.locations.head">{{localize "SWADE.Head"}}</label>
          </div>
          <div class="form-group">
            <input
              type="checkbox"
              name="data.locations.torso"
              id="data.locations.torso"
              {{checked
              item.data.locations.torso}}
              data-dtype="Boolean"
            />
            <label for="data.locations.torso">{{localize "SWADE.Torso"}}</label>
          </div>
        </div>
        <div class="flexrow">
          <div class="form-group">
            <input
              type="checkbox"
              name="data.locations.arms"
              id="data.locations.arms"
              {{checked
              item.data.locations.arms}}
              data-dtype="Boolean"
            />
            <label for="data.locations.arms">{{localize "SWADE.Arms"}}</label>
          </div>
          <div class="form-group">
            <input
              type="checkbox"
              name="data.locations.legs"
              id="data.locations.legs"
              {{checked
              item.data.locations.legs}}
              data-dtype="Boolean"
            />
            <label for="data.locations.legs">{{localize "SWADE.Legs"}}</label>
          </div>
        </div>
      </div>
    </section>
    <section>
      {{> "systems/swade/templates/items/partials/description.html"}}
    </section>
  </main>
</form>
