<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    {{> "systems/swade/templates/items/partials/header-delete.html"}}
    <section class="sheet-body">
        <div class="form-group">
            <label for="die">{{localize "SWADE.Die"}}</label>
            <select name="data.die.sides" id="die" data-dtype="Number">
                {{#select item.data.die.sides}}
                {{> "systems/swade/templates/die-sides-options.html"}}
                {{/select}}
            </select>
            <input name="data.die.modifier" type="text" value="{{item.data.die.modifier}}"
                placeholder="{{localize 'SWADE.Mod'}}" data-dtype="String" />
        </div>
        <div class="form-group">
            <label for="attribute">{{localize "SWADE.LinkAttr"}}</label>
            <select name="data.attribute" id="attribute" data-dtype="String">
                {{#select item.data.attribute}}
                {{> "systems/swade/templates/attribute-select.html"}}
                {{/select}}
            </select>
        </div>
        {{#if item.data.ownerIsWildcard}}
        <div class="form-group">
            <label for="wild-die">{{localize "SWADE.WildDie"}}</label>
            <select name="data.wild-die.sides" id="wild-die" data-dtype="Number">
                {{#select item.data.wild-die.sides}}
                {{> "systems/swade/templates/die-sides-options.html"}}
                {{/select}}
            </select>
        </div>
        {{/if}}
        {{> "systems/swade/templates/items/partials/description.html"}}
    </section>
</form>